{
  "Version": "2019-10-30",
  "StartAction": "e1a78c6a-0954-4a9f-b159-d3ae6cd9bd3f",
  "Metadata": {
    "entryPointPosition": {
      "x": 40,
      "y": 40
    },
    "ActionMetadata": {
      "e1a78c6a-0954-4a9f-b159-d3ae6cd9bd3f": {
        "position": {
          "x": 108.8,
          "y": 38.4
        }
      },
      "a7f2a540-11e8-4939-8a16-c56f9b39b3bf": {
        "position": {
          "x": 851.2,
          "y": 432.8
        }
      },
      "Welcome to the demo contact centre.": {
        "position": {
          "x": 104.8,
          "y": 256.8
        },
        "isFriendlyName": true
      },
      "Check hours of operation": {
        "position": {
          "x": 332,
          "y": 82.4
        },
        "isFriendlyName": true,
        "parameters": {
          "HoursOfOperationId": {
            "displayName": "9to5NZ"
          }
        },
        "Hours": {
          "id": "${hours_of_operation_arn}",
          "text": "9to5NZ"
        }
      },
      "We are currently closed": {
        "position": {
          "x": 1108,
          "y": 467.2
        },
        "isFriendlyName": true
      },
      "0c9e7c55-7079-4cea-9653-4bbdc47d7eb2": {
        "position": {
          "x": 582.4,
          "y": -16
        },
        "parameters": {
          "LambdaFunctionARN": {
            "displayName": "${lambda_arn}"
          }
        },
        "dynamicMetadata": {}
      },
      "we're experiencing technical difficulties": {
        "position": {
          "x": 615.2,
          "y": 383.2
        },
        "isFriendlyName": true
      },
      "Something went wrong determining your queue": {
        "position": {
          "x": 1110.4,
          "y": 259.2
        },
        "isFriendlyName": true
      },
      "a1e83d18-2f28-41e0-ba54-ca1f680c2f2f": {
        "position": {
          "x": 818.4,
          "y": -14.4
        },
        "parameters": {
          "Attributes": {
            "LambdaPriority": {
              "useDynamic": true
            }
          }
        },
        "dynamicParams": [
          "LambdaPriority"
        ]
      },
      "1d2d33e3-97d2-4ba6-bdee-ec7b10a8e4ac": {
        "position": {
          "x": 1680.8,
          "y": -4.8
        }
      },
      "Set working queue - gerrysQueue": {
        "position": {
          "x": 1370.4,
          "y": -9.6
        },
        "isFriendlyName": true,
        "parameters": {
          "QueueId": {
            "displayName": "gerrysQueue"
          }
        },
        "queue": {
          "text": "gerrysQueue"
        }
      },
      "8dbd9ba5-78c7-4b0a-b21b-c714b3eddeba": {
        "position": {
          "x": 1669.6,
          "y": 184
        }
      },
      "e7a17f51-4fb9-43b6-ab78-f4865588db0e": {
        "position": {
          "x": 1686.4,
          "y": 412.8
        }
      },
      "7f85067b-facf-415f-925e-d90fe1d881b1": {
        "position": {
          "x": 1093.6,
          "y": -11.2
        },
        "conditions": [],
        "conditionMetadata": [
          {
            "id": "ff4a8bd6-a133-4c8d-ae39-a9991ace164b",
            "operator": {
              "name": "Equals",
              "value": "Equals",
              "shortDisplay": "="
            },
            "value": "standard"
          },
          {
            "id": "76d7a2c1-9cc0-4850-80ea-b73c1e18c6f7",
            "operator": {
              "name": "Equals",
              "value": "Equals",
              "shortDisplay": "="
            },
            "value": "vip"
          }
        ]
      },
      "Set working queue - priorityQueue": {
        "position": {
          "x": 1364.8,
          "y": 192.8
        },
        "isFriendlyName": true,
        "parameters": {
          "QueueId": {
            "displayName": "priorityQueue"
          }
        },
        "queue": {
          "text": "priorityQueue"
        }
      }
    },
    "Annotations": []
  },
  "Actions": [
    {
      "Parameters": {
        "FlowLoggingBehavior": "Enabled"
      },
      "Identifier": "e1a78c6a-0954-4a9f-b159-d3ae6cd9bd3f",
      "Type": "UpdateFlowLoggingBehavior",
      "Transitions": {
        "NextAction": "Welcome to the demo contact centre."
      }
    },
    {
      "Parameters": {},
      "Identifier": "a7f2a540-11e8-4939-8a16-c56f9b39b3bf",
      "Type": "DisconnectParticipant",
      "Transitions": {}
    },
    {
      "Parameters": {
        "SkipWhenDTMFBufferEnabled": "false",
        "Text": "Welcome to the demo contact centre, please hold while we check availability."
      },
      "Identifier": "Welcome to the demo contact centre.",
      "Type": "MessageParticipant",
      "Transitions": {
        "NextAction": "Check hours of operation",
        "Errors": [
          {
            "NextAction": "we're experiencing technical difficulties",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "HoursOfOperationId": "${hours_of_operation_arn}"
      },
      "Identifier": "Check hours of operation",
      "Type": "CheckHoursOfOperation",
      "Transitions": {
        "NextAction": "we're experiencing technical difficulties",
        "Conditions": [
          {
            "NextAction": "0c9e7c55-7079-4cea-9653-4bbdc47d7eb2",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "True"
              ]
            }
          },
          {
            "NextAction": "We are currently closed",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "False"
              ]
            }
          }
        ],
        "Errors": [
          {
            "NextAction": "we're experiencing technical difficulties",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "SkipWhenDTMFBufferEnabled": "false",
        "Text": "We are currently closed as you reached us out of hours. Please call back later"
      },
      "Identifier": "We are currently closed",
      "Type": "MessageParticipant",
      "Transitions": {
        "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
        "Errors": [
          {
            "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "LambdaFunctionARN": "${lambda_arn}",
        "InvocationTimeLimitSeconds": "4",
        "InvocationType": "SYNCHRONOUS",
        "ResponseValidation": {
          "ResponseType": "STRING_MAP"
        }
      },
      "Identifier": "0c9e7c55-7079-4cea-9653-4bbdc47d7eb2",
      "Type": "InvokeLambdaFunction",
      "Transitions": {
        "NextAction": "a1e83d18-2f28-41e0-ba54-ca1f680c2f2f",
        "Errors": [
          {
            "NextAction": "we're experiencing technical difficulties",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "SkipWhenDTMFBufferEnabled": "false",
        "Text": "we're experiencing technical difficulties, please try again later"
      },
      "Identifier": "we're experiencing technical difficulties",
      "Type": "MessageParticipant",
      "Transitions": {
        "NextAction": "a7f2a540-11e8-4939-8a16-c56f9b39b3bf",
        "Errors": [
          {
            "NextAction": "a7f2a540-11e8-4939-8a16-c56f9b39b3bf",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "SkipWhenDTMFBufferEnabled": "false",
        "Text": "Something went wrong determining your queue"
      },
      "Identifier": "Something went wrong determining your queue",
      "Type": "MessageParticipant",
      "Transitions": {
        "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
        "Errors": [
          {
            "NextAction": "we're experiencing technical difficulties",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "Attributes": {
          "LambdaPriority": "$.External.priority"
        },
        "TargetContact": "Current"
      },
      "Identifier": "a1e83d18-2f28-41e0-ba54-ca1f680c2f2f",
      "Type": "UpdateContactAttributes",
      "Transitions": {
        "NextAction": "7f85067b-facf-415f-925e-d90fe1d881b1",
        "Errors": [
          {
            "NextAction": "we're experiencing technical difficulties",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {},
      "Identifier": "1d2d33e3-97d2-4ba6-bdee-ec7b10a8e4ac",
      "Type": "TransferContactToQueue",
      "Transitions": {
        "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
        "Errors": [
          {
            "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
            "ErrorType": "QueueAtCapacity"
          },
          {
            "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {
        "QueueId": "${gerrys_queue_arn}"
      },
      "Identifier": "Set working queue - gerrysQueue",
      "Type": "UpdateContactTargetQueue",
      "Transitions": {
        "NextAction": "1d2d33e3-97d2-4ba6-bdee-ec7b10a8e4ac",
        "Errors": [
          {
            "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {},
      "Identifier": "8dbd9ba5-78c7-4b0a-b21b-c714b3eddeba",
      "Type": "TransferContactToQueue",
      "Transitions": {
        "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
        "Errors": [
          {
            "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
            "ErrorType": "QueueAtCapacity"
          },
          {
            "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    },
    {
      "Parameters": {},
      "Identifier": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
      "Type": "DisconnectParticipant",
      "Transitions": {}
    },
    {
      "Parameters": {
        "ComparisonValue": "$.Attributes.LambdaPriority"
      },
      "Identifier": "7f85067b-facf-415f-925e-d90fe1d881b1",
      "Type": "Compare",
      "Transitions": {
        "NextAction": "Something went wrong determining your queue",
        "Conditions": [
          {
            "NextAction": "Set working queue - gerrysQueue",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "standard"
              ]
            }
          },
          {
            "NextAction": "Set working queue - priorityQueue",
            "Condition": {
              "Operator": "Equals",
              "Operands": [
                "vip"
              ]
            }
          }
        ],
        "Errors": [
          {
            "NextAction": "Something went wrong determining your queue",
            "ErrorType": "NoMatchingCondition"
          }
        ]
      }
    },
    {
      "Parameters": {
        "QueueId": "${priority_queue_arn}"
      },
      "Identifier": "Set working queue - priorityQueue",
      "Type": "UpdateContactTargetQueue",
      "Transitions": {
        "NextAction": "8dbd9ba5-78c7-4b0a-b21b-c714b3eddeba",
        "Errors": [
          {
            "NextAction": "e7a17f51-4fb9-43b6-ab78-f4865588db0e",
            "ErrorType": "NoMatchingError"
          }
        ]
      }
    }
  ]
}